a
{
	text-decoration: none !important;
}

header
{
	text-align: justify;
	background-color: #fafafa;
}
/* top header */


.top-header
{
    background-image: unset !important;
    background-color: #fafafa!important;
   

}
.p
{
	padding-left: 0px!important;
	padding-right: 0px!important;
}

.block
{
	border-left:  1px solid #e5e5e5;
	height: 60px;
}



.block p
{
	padding-left:23px !important;
	margin:0 0 5px; 
}

.block p:first-child
{
	color: #252924;
}

.block p:last-child
{
	padding-left:  53px!important;
	color: #9f9f9f;
}

.block p i
{
	color: #9bcd51;
	font-size: 28px;
	position: relative;
	top: 8px;

}




.block:hover
{
	border-bottom: 2px solid #91c83f;
}

 .top-header .btn
{
	background-color: unset!important;
	background-image: unset !important;
	box-shadow: unset!important;
	border-radius: unset !important;
	border:unset!important;
	font-size: 15px !important;
	
	position: relative;
}

.top-header .btn i
{
	color: #9bcd51;
	font-size: 28px;
	position: relative;
	top: 8px;
}

 .btn:focus
{
	outline: unset!important;
}

.m
{
	padding-left: 23px;
}

.m p
{
	padding-left:  37px!important;
	color: #9f9f9f;
	top: -5px;
	position: relative;
}
 .w
{
	position: relative;
	
	margin-left:70px !important;
	font-size: 30px !important;
}



.top-header .active
{
     
    border-bottom: 2px solid #91c83f;
    border-right: 1px solid #e5e5e5;
    background-color: #fafafa;
    background-image: unset !important;
    padding-top: 12px;
    padding-left: 28px;
    color: #9f9f9f;
   
 }
.active i
{
	color: #9bcd51;
	font-size: 28px;
}

.active a {
    background-image: unset !important;
    background-color: unset !important;
    box-shadow: unset !important;
    color: #252924;
}

.bt
{
	border-bottom: 2px solid#e5e5e5;
}

.tp
{
	background-color: #fff;
	min-height: 130px;
}

.header-logo 
{
    position: relative;
    float: left;
    min-height: 1px;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    top: 20px;
}

form
{
	display: block;
	margin-top: 0em;
}

.form-control
{
	 padding: 18px 12px!important;
}

.navbar-search 
{
    float: left;
    width: 55%;
    top: 40px;
    position: relative;
}

.screen-reader-text {
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}
label {
    font-size: 1em;
    line-height: 1.286em;
    font-weight: bold;
    margin-bottom: 0.857em;
}

label {
    display: inline-block;
    margin-bottom: .5rem;
}

.postform
{
	border:unset;
}

.postform:focus
{
	border:unset!important;
}

.input-group-addon {
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    color: #55595c;
    text-align: center;
    background-color: #fff!important;
    border: 1px solid #ccc;
    border-radius: .25rem;
}

.btn
{
	    padding: 8px 12px!important;
	    background-color: #8ec740;
}


.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 25px!important;
    font-size: 30px;
    top: 18px;
    color: #000;
}

.nav > li > a:focus, .nav > li > a:hover {
    background-color: unset!important;
    text-decoration: none;
}

.after:after {
   content: "5"; /* Добавляемый текст */ 
      color: #333; /* Цвет текста */ 
      background-color: #91c83f; /* Цвет фона */ 
      font-size: 50%; /* Размер шрифта */ 
      padding: 2px 5px;
      border-radius: 50%;
      top: -20px;
      position: relative;
	  
}
 .box{
        
        overflow: hidden;
        display: none;
        background: #fff;
        position: absolute;
    	top:130px;
    	z-index: 5;
    }
    /* Add padding and border to inner content
    for better animation effect */
    .box-inner{
    	
        width: 350px;
        padding: 10px;
       
        
    }

.block11
{
	border-bottom: 2px solid #efefef;
	display: inline-block;
	padding: 30px;
}


.text31
{
	width: 50%;
	float: left;
	padding-left: 15px;
	padding-top: 20px;
}

.text31 h5
{
	color: #96cb48;
}

.img31
{	
	width: 50%;
	float: left;
}



.one
{
	background-color: #f6f6f6;
	min-height: 500px;
}


.list
{
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	width: 100%!important;
	background-color: #fff;


}

.list >ul >li>a
{
	color: #000;
	border-radius: unset;
	font-size: 16px;
}

.list >ul >li>a:hover
{
	border-left: 3px solid #91c83f;
	background-color: unset;
}

	.br
	{
		background-color: #81c145;
		padding: 15px 20px;
		border-radius: 10px 10px 0px 0px;
		-moz-border-radius: 10px 10px 0px 0px;
		-webkit-border-radius: 10px 10px 0px 0px;
		border: 0px solid #000000;
	}

.br a
{
	color: #fff;
}


.car
{
	position: relative;
	
	float: right;
	font-size: 30px !important;
}

.numb span
{
	position: absolute;
	margin-left:  155px;
	top: -10px;
	padding: 1px 5px;
	background-color: #91c83f;
	border-radius: 50%;
}

.carousel .item img
{
    margin: 0 auto; /* Align slide image horizontally center */
}
.bs-example
{
	background-color: unset;
	background:unset;
	background-image: unset;
}

.top-carousel img 
{
	height: 400px;
	width: auto !important;
	    float: right;
}


.one
{
	padding-top: 25px;
}

.img
{
	width: 60%;
	height:400px;
	float: left;
}
.text
{
	float: left;
	width: 40%;
	height:400px;

}

.text > h1
{
	padding:13px;
}

.text > p
{
	padding: 13px;
	font-size: 15px;
}

.dws
{
	position: absolute;
}
.butt
{
	border:2px solid #7cbf46;
	border-radius: 5px;
	font-size: 22px;
	color: #7cbf46!important;
	margin-left: 25px;
	width: 190px;
	height: 50px;
	display: block;
	text-align: center;
	line-height: 45px;
	font-family: Arial,sans-serif;
	position:relative;
	transition: 0.5s;
	overflow: hidden;
}

.butt::before,
.butt::after
{
	position: absolute;
	content: '';
	width: 100%;
	height:100%;
	background: #87e43d;
	top:0;
	left: -100%;
	opacity: 0.5;
	transition: 1s;
	z-index: -1;
}

.butt::after
{
	opacity: 1;
	transition-delay: .2s;
}

.butt:hover
{
	color: #fff!important;
}

.butt:hover::before,
.butt:hover::after
{
	left: 0;
}

.two
{
	
	background-color: #fff;
	
	padding: 60px 10px;

}

.row h1
{
	text-align: center;
	padding: 20px;
}

.product
{
	border: 2px solid #88c442;
	display: inline-block;
	padding-bottom: 80px;
	

}

.nauwniki
{
	
	text-align: center;
	-webkit-box-shadow: 0px 0px 35px -8px rgba(0,0,0,0.68);
	-moz-box-shadow: 0px 0px 35px -8px rgba(0,0,0,0.68);
	box-shadow: 0px 0px 35px -8px rgba(0,0,0,0.68);
	padding: 15px;
	 opacity: 1;
    -webkit-transform: scale(1,1);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 550ms;
    -moz-transform: scale(1,1);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 550ms;
    position: relative;
	
}

.nauwniki:hover
{
	  -webkit-transform: scale(1.05,1.05);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 550ms;
    -moz-transform: scale(1.05,1.05);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 550ms
}
.nauwniki p
{
	padding: 10px;
}

.nauwniki h2
{
	color: #96cb48;
	font-size: 20px;
}

.shop
{	
	display: none;
	position: absolute;
	margin-left: 185px;
	border-radius: 50%;
	padding: 10px ;
	background-color: #82c144;

}

.nauwniki:hover .shop
{
	display: block;
}

.shop i
{
	font-size: 25px;
	color: #fff;

}

.icon
{
	position: absolute;
	padding-top:40px;
	display: none;
}

.icon i
{
	font-size: 20px;
}

.nauwniki:hover .icon
{
	display: block;
}


.color
{
	width: 170px;
	border: 1px solid #e5e5e5;
	margin:auto;
	display: flex;
	justify-content: center;
}

.circle1
{
	background-color: #2a2a28;
	border-radius: 50%;
	margin:5px;
	text-align: center;
	line-height: 10px;
	float: left;
	padding: 15px;
}

.circle2
{
	background-color: #a8a4a1;
	border-radius: 50%;
	padding: 15px;
	text-align: center;
	line-height: 10px;
	float: left;
	margin:5px;
}

.circle3
{
	background-color: #ab9a89;
	border-radius: 50%;
	padding: 15px;
	text-align: center;
	line-height: 10px;
	float: left;
	margin:5px;
}

.circle4
{
	background-color: #ededed;
	border-radius: 50%;
	padding: 15px;
	text-align: center;
	padding: auto;
	margin:5px;
	float: left;
	
}

.circle5
{
	background-color: #a2a5aa;
	border-radius: 50%;
	padding: 15px;
	text-align: center;
	padding: auto;
	margin:5px;
	float: left;
	
}

.circle6
{
	background-color: #c9ac96;
	border-radius: 50%;
	padding: 15px;
	text-align: center;
	padding: auto;
	margin:5px;
	float: left;
	
}

.circle7
{
	background-color: #d8a7a2;
	border-radius: 50%;
	padding: 15px;
	text-align: center;
	padding: auto;
	margin:5px;
	float: left;
	
}

.circle8
{
	background-color: #ededed;
	border-radius: 50%;
	padding: 15px;
	text-align: center;
	padding: auto;
	margin:5px;
	float: left;
	
}


.tree
{
	min-height: 500px;
}



.T>li.active>a, .T>li.active>a:focus, .T>li.active>a:hover
{
	border: unset!important;
	border-bottom: 3px solid #96cb48!important;
	font-weight:bold;
}

.T>li>a
{
	color: #aaa;
	margin-right:10px!important;
}

.T>li>a:focus, .T>li>a:hover
{
	background-color: unset!important;
}

 .T>li>a:hover
{
	border-color: unset!important;
	border: unset;
	border-bottom: 3px solid #96cb48!important;
	color: #000;
}



.arr
{
	
	text-align: center;
	
	padding: 50px;
	 opacity: 1;
    -webkit-transform: scale(1,1);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 550ms;
    -moz-transform: scale(1,1);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 550ms;
    position: relative;
	
}

.arr:hover
{
	  -webkit-transform: scale(1.05,1.05);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 550ms;
    -moz-transform: scale(1.05,1.05);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 550ms
}
.arr p
{
	padding: 10px;
}

.arr h2
{
	color: #96cb48;
}

.four
{
	min-height: 500px;
	background-color: #fafafa;
}


.carusel2 img 
{
	height: 400px;
	width: auto !important;
	 float: unset!important;
}


.four
{
	padding-top: 45px;
}

.img
{
	width: 60%;
	height:400px;
	
}
.text
{
	float: left;
	width: 40%;
	height:400px;

}

.text > h1
{
	padding:13px;
}

.text > p
{
	padding: 13px;
	font-size: 15px;
}

.five
{
	min-height: 420px;
	padding-top: 60px;
}


.block1
{
	border:2px solid #efefef;
	display: inline-block;
	padding: 30px;
}


.text3
{
	width: 50%;
	float: left;
}

.text3 h2
{
	color: #96cb48;
}

.img3
{	
	width: 50%;
	float: left;
}


.six
{
	min-height: 500px;
	padding: 30px;
}

.col-md-9 h1
{
	border-bottom: 2px solid#ebebeb;
	padding-bottom: 35px;
}

.feat
{
	
	text-align: center;
	
	padding: 35px;
	 opacity: 1;
    -webkit-transform: scale(1,1);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 550ms;
    -moz-transform: scale(1,1);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 550ms;
    position: relative;
	
}

.feat:hover
{
	  -webkit-transform: scale(1.05,1.05);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 550ms;
    -moz-transform: scale(1.05,1.05);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 550ms
}
.feat p
{
	padding: 10px;
	min-height: 60px;
}

.feat h2
{
	color: #96cb48;
}

#home-slide3
{
	border: 2px solid#7cbf46;
	border-radius: 5px;
	top: 105px;
}

.block6
{
	
	min-height: 500px;
	position: relative;
}

.img5
{
	
	
	top: 30px;
	width: 100%;
	position: relative;
	
}


.text5 > h4
{
	padding-top:50px;
	text-align: center;
}

.text5 > h3
{
	text-align: center;
	color: #a4d260;
	
}

.seven
{
	
	
	border-bottom: 2px solid#ebebeb;
}

.seven h1
{
	
	border-bottom: 2px solid#ebebeb;
	padding-bottom: 35px;
}

.latest
{
	
	text-align: center;
	
	padding: 60px;
	 opacity: 1;
    -webkit-transform: scale(1,1);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 550ms;
    -moz-transform: scale(1,1);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 550ms;
    position: relative;
	
}

.latest::after
{
	
	
 	content:"";
    position: absolute;
    left: -16px; /* adjust manually */
    border-right: 2px solid #ebebeb;
    height: 60%;
    width: 1px;
    top: 60px;

}

.latest:hover
{
	  -webkit-transform: scale(1.05,1.05);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 550ms;
    -moz-transform: scale(1.05,1.05);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 550ms
}


.latest h3
{
	color: #96cb48;
}


.eight
{
	min-height: 300px;
}

.block8
{
	border:1px solid #ebebeb;
	padding: 25px;
	top: 40px;
	position: relative;
	margin-left: 30px;
}

.block8 p:first-child
{
		font-size: 18px;
		color: #000;
}

.block8 p:last-child
{
		font-size: 15px;
		color: #bfbfbf;
		padding-left:20px;
}

.nine
{
	background-color: #96cb48;
	min-height: 155px;
}

.text9
{
	color: #fff;
	justify-content: center;
	top: 60px;
	position: relative;
	font-size: 30px;

}

footer
{
	background-color: #f6f6f8;
	min-height: 420px;
	
}

.footer
{
	padding-top: 50px;
}

.log  h3
{
	padding-top:30px;
}

.log  p
{
	padding-left:30px;
}


.sot 
{
	top: 30px;
	margin-right:130px;
	position: relative;
}




.network 
{
    list-style: none;
    padding-left: 28px;
    
   
}

ul.network li  
{
    display: inline-block; /* Отображать как строчный элемент */
    text-align: center;


   

    
   }


ul.network li a 
{
 
    
    text-decoration:  none;
    

}

ul.network li a i
{
    margin-right: 5px; /* Отступ слева */
    padding: 8px; /* Поля вокруг текста */
    background-color: #f6f6f8;
    border: 1px solid #c9c9c9;
    color: #c9c9c9;
    border-radius: 10%;
    width: 30px;
    height: 30px;
}


#circle1
{
    -moz-transition: all 1s 0.1s ease-in;
    -o-transition: all 1s 0.1s ease-in;
    -webkit-transition: all 1s 0.1s ease-in;
}


#circle1:hover
{
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    color: #96cb48;
}



.categ1
{
	 float: left;

}

.categ2
{
	top: 40px;
	position: relative;
}



.right
{
    list-style: none;
    float: left;
    line-height: 30px;
    position: relative;
    margin-right: 20px;
}

ul.right li a
{
    text-decoration: none;
    color: #b7b7b8;
    font-size: 16px;
}


ul.right li a i
{
    margin-right: 5px; /* Отступ слева */
    padding: 13px; /* Поля вокруг текста */
   font-size: 15px;
    color: #b7b7b8;
   
}




.left
{
    list-style: none;
    float: left;
    line-height: 30px;
    position: relative;
    margin-right: 18px;
}

ul.left li a
{
    text-decoration: none;
    color: #b7b7b8;
    font-size: 16px;
}


ul.left li a i
{
    margin-right: 5px; /* Отступ слева */
    padding: 13px; /* Поля вокруг текста */
   font-size: 16px;
    color: #b7b7b8;
   
}



.last
{
	min-height: 75px;
	background-color: #ededee;
	line-height: 15px;
}


.span
{
	
	line-height: 75px;
	color: #989898;
}

.cart
{
	float: right;
	line-height: 75px;
	font-size: 55px;
	
}

@media only screen and ( max-width: 1140px) 
{
    
	
.block
{
	border-left:  1px solid #e5e5e5;
	height: 60px;
}



.block p
{
	padding-left:30px !important;
	margin:0 0 5px; 
}

.block p:first-child
{
	color: #252924;
}

.block p:last-child
{
	padding-left:  33px!important;
	color: #9f9f9f;
}

.block p i
{
	color: #9bcd51;
	font-size: 28px;
	position: relative;
	top: 8px;

}

.block .active
{
	padding-left:  13px!important;
}


}


@media only screen and ( max-width: 1046px) 
{
    
	
.block
{
	border-left:  1px solid #e5e5e5;
	height: 60px;
}



.block p
{
	padding-left:35px !important;
	margin:0 0 5px; 
}

.block p:first-child
{
	color: #252924;
}

.block p:last-child
{
	padding-left:  23px!important;
	color: #9f9f9f;
}

.block p i
{
	color: #9bcd51;
	font-size: 28px;
	position: relative;
	top: 8px;

}

.npc
{
	padding-left:  11px!important;
}


}


@media only screen and ( max-width: 991px) 
{
    
	
.block
{
	border-left:  1px solid #e5e5e5;
	height: 60px;
	margin:auto;
	text-align: center;
	justify-content: center;

}



.block p
{
	padding-left:35px !important;
	margin:0 0 5px; 
}

.block p:first-child
{
	color: #252924;
}

.block p:last-child
{
	padding-left:  23px!important;
	color: #9f9f9f;
}

.block p i
{
	color: #9bcd51;
	font-size: 28px;
	position: relative;
	top: 8px;

}

.npc
{
	padding-left:  11px!important;
}


}


@media only screen and ( max-width: 1200px) 
{
    
	
	.header-logo 
{
    position: relative;
    float: left;
    min-height: 1px;
    
    top: 20px;
}

form
{
	display: block;
	margin-top: 0em;
}

.form-control
{
	 padding: 18px 12px!important;
}

.navbar-search 
{
    float: left;
    width: 45%;
    top: 40px;
    position: relative;
}

.screen-reader-text {
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}
label {
    font-size: 1em;
    line-height: 1.286em;
    font-weight: bold;
    margin-bottom: 0.857em;
}

label {
    display: inline-block;
    margin-bottom: .5rem;
}

.postform
{
	border:unset;
}

.postform:focus
{
	border:unset!important;
}

.input-group-addon {
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    color: #55595c;
    text-align: center;
    background-color: #fff!important;
    border: 1px solid #ccc;
    border-radius: .25rem;
}

.btn
{
	    padding: 8px 12px!important;
	    background-color: #8ec740;
}

.nav li
{
	float: left;
}
.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 25px!important;
    font-size: 30px;
    top: 30px;
    color: #000;
}

.after:after {
   content: "5"; /* Добавляемый текст */ 
      color: #333; /* Цвет текста */ 
      background-color: #91c83f; /* Цвет фона */ 
      font-size: 50%; /* Размер шрифта */ 
      padding: 2px 5px;
      border-radius: 50%;
      top: -20px;
      position: relative;
	  
}
}


@media only screen and ( max-width: 991px) 
{
	.tp
	{
		min-height: 290px;
	}
    
	.header-logo
	{
		line-height: 200px;
		width: 100%;

	}
	
	.header-logo>a>img
	{
		margin:auto;

	}

	.navbar-search
	{
		width: 100%;
		text-align: center;
		margin: 0.714em 0;
		display: inline-flex;
		justify-content: center;
	}

	.input-group
	{
		display: table-cell!important;
		margin:auto;
		float: none;
		width: 100%!important;
		text-align: center;

	}
	#search
	{
		width: 100%;
		 display: inline-block;
  		vertical-align: middle;
		text-align: left;
		 margin: auto;
		border-top-right-radius: 4px;
		border-bottom-left-radius: 0;
		justify-content: center!important;
	}

	.input-group-addon
	{
		width: 100%!important;
		text-align: left!important;
	}

	.btn
	{
		border-top-right-radius: 0;
	}

	.marg
	{
		display: inline-block;
		margin:0 70px;
		position: relative;
	}
	.nav-item:focus
	{
		outline: unset;
		background-color: unset;
	}
	.ikonki ul
	{
		position: relative;
		margin-top:20px;
	}

}



@media only screen and ( max-width: 767px) 
{
		
		.marg
	{
		display: inline-block;
		
		position: relative;
	}

	.ikonki ul
	{
		position: relative;
		margin-top:20px;
		display: block;
	}


	.ikonki
	{

	}


}